*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn_cart{
   background-color: #F7CA00;
   border: 1px solid #F7CA00;
   padding: 10px 0;

}

.btn_cart:hover{
    border: 1px solid #F7CA00;
    background-color: white;
    color: black;
    transition: 0.3s ease-in;
}

.gap{
    gap:30px
}